<div class="container">
    <h1 style="text-align:center">Quiz</h1>

    <app-game-score [bestOf]="bestOf"></app-game-score>

    <div class="row" style="margin-top:100px;"></div>


    <div *ngIf="!startGameBool">
        <div class="row justify-content-sm-center" style="margin-top:20px">
            <button class="btn-primary col-sm-3" (click)="startGame()">Start Game</button>
        </div>
    </div>

    <div *ngIf="startGameBool">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div *ngFor="let category of categories">
                    <div>
                        <app-quiz-category class="col-sm" [category]="category"></app-quiz-category>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>