<div class="container">
  <div class="row">
    <div class="col">
      <div class="card  w-75 p-3">
        <table class="table">
          <tr>
            <th scope="col">Spielname und Link</th>
            <th scope="col">Beschreibung</th>
          </tr>
          <tr *ngFor="let game of games">
            <td>
              <a routerLinkActive="active" routerLink="/{{game.path}}">{{game.name}}</a>
            </td>
            <td>
                {{game.description}}
            </td>
          </tr>
        </table>
      </div>

    </div>

  </div>
</div>
