<div class="container">
    <div class="row">
        <h2 class="col-sm" style="text-align:left">Dirk</h2>
        <h2 class="col-sm" style="text-align:right">{{matchData.candidate}}</h2>
    </div>
    <div class="row">

        <div class="col-sm">
            <table class="float-left">
                <tr>
                    <td class="score-box" *ngFor="let entry of firstToDirk">
                        <img class="score-box" src="{{getBox(entry.count,1)}}" type="button"
                            (click)="toggleBox(entry.count,1)">
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm">
            <table class="float-right">
                <tr>
                    <td class="score-box" *ngFor="let entry of firstToCand">
                        <img class="score-box" src="{{getBox(entry.count,2)}}" type="button"
                            (click)="toggleBox(entry.count,2)">
                    </td>
                </tr>
            </table>
        </div>


    </div>
</div>