<div class="container">
  <div class="row justify-content-sm-center">
    <div class="col">
      <h1 style="text-align:center">Fehlerbilder</h1>
    </div>
  </div>
  <app-game-score [bestOf]="bestOf"></app-game-score>

  <br>
  <div *ngIf="!startGameBool">
    <div class="row justify-content-sm-center" style="margin-top:20px">
      <button class="btn-primary col-sm-2" (click)="toggleStartGame()">Start Game</button>
    </div>
  </div>

  <div *ngIf="startGameBool">
    <div class="row">
      <img class="col-6" src={{getOriginalImagePath(level)}}>
      <img class="col-6" src={{getErrorImagePath(level)}} (click)="toggleSol(level)">
    </div>
    <br>
    <div class="row">
      <button class="btn btn-primary col" (click)="updateLevel(false)">Previous Round</button>
      <h2 class="level col">Runde: {{level+1}}</h2>
      <button class="btn btn-primary col" (click)="updateLevel(true)">Next Round</button>
    </div>
  </div>
</div>
<br>
