<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <br>
  <div class="center">
    <img class="img-fluid" src="assets/raw/streudassalz.png" style="height:100px">
  </div>
</div>
<br>

<nav class="navbar navbar-expand-lg navbar bg mb-5">
  <div class="container">
    <a class="navbar-brand">Streu das Salz</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/memory">Game 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/brands">Game 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/quiz">Game 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/musicquiz">Game 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/spelling">Game 6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/card-duel">Game 8</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/error-image">Game 9</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/whenwasthat">Wann war das?</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>