<div class="container">
  <h1 style="text-align:center">Marken raten</h1>

  <app-game-score [bestOf]="bestOf"></app-game-score>

  <div *ngIf="startGameBool">
    <div class="row justify-content-sm-center" style="margin-top:20px">
      <button class="btn-primary col-sm-3" (click)="startGame()">Start Game</button>
    </div>
  </div>

  <div *ngIf="!startGameBool">
    <div class="row">
      <div class="col-sm">
        <table>
          <tr *ngFor="let row of table; trackBy: trackRow">
            <td *ngFor="let cell of row; trackBy: trackRecord">
              <div class="card brand-card container">
                <div class="row" style="height: 120px">
                  <img src="{{ cell.sol ? getSol(cell.id) : getLogo(cell.id) }}" type="button"
                    (click)="toggleSol(cell.id)">
                  <my-child [showMePartially]="sol"></my-child>
                </div>
                <div class="row" style="height:30px">
                  <p class="brand_cell_number" style="font-size:20px">{{(cell.id-1)%recordsPerLevel}}</p>
                </div>

              </div>

            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <button class="btn btn-primary col-sm" style=" float: left;" (click)="previousLevel()">Previous Round</button>
      <h2 class="round-count col-sm">Runde: {{level+1}}</h2>
      <button class="btn btn-primary col-sm" style="float: right;" (click)="nextLevel()">Next Round</button>
    </div>
  </div>
  <br>


</div>