// Slate 4.3.1
// Bootswatch

//
// Color system
//


$main-100: #ffe5ff !default;
$main-200: #feb3ff !default;
$main-300: #fd80ff !default;
$main-400: #fc4dff !default;
$main-500: #fc1aff !default;
$main-600: #b000b3 !default;
$main-700: #7e0080 !default;
$main-800: #410042 !default;
$main-xxx: #410042 !default;
$main-900: #19001a !default;


$accent-100: #d8b3ff !default;
$accent-200: #bd80ff !default;
$accent-300: #a34dff !default;
$accent-400: #891aff !default;
$accent-500: #6f00e6 !default;
$accent-600: #5600b3 !default;
$accent-700: #3e0080 !default;
$accent-800: #25004d !default;
$accent-xxx: #2d005d !default;
$accent-900: #25004d !default;


$decor-100: #fee7f2 !default;
$decor-200: #fbb6d7 !default;
$decor-300: #f985bc !default;
$decor-400: #f755a2 !default;
$decor-xxx: #f759a4 !default;
$decor-500: #f42487 !default;
$decor-600: #db0b6d !default;
$decor-700: #aa0855 !default;
$decor-800: #7a063d !default;
$decor-900: #490424 !default;


$white:   #fff !default;
$black:   #000 !default;
$gray:    #6a737c !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ee5f5b !default;
$orange:  #fd7e14 !default;
$yellow:  #f89406 !default;
$green:   #62c462 !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;

$primary:       $main-800 !default;
$secondary:     $main-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $main-200 !default;
$dark:          $main-900 !default;

$yiq-contrasted-threshold:  170 !default;

// Body

$body-bg:                   $main-900 !default;
$body-color:                #aaa !default;

// Links

$link-color:                $white !default;

// Fonts

$font-size-base:              0.9375rem !default;

// Tables

$table-color:                 $white !default;
$table-accent-bg:             rgba($white,.05) !default;
$table-hover-bg:              rgba($white,.075) !default;

$table-border-color:          rgba($black,.6) !default;

$table-dark-border-color:     $table-border-color !default;
$table-dark-color:            $white !default;

// Buttons

$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1rem !default;

// Forms

$input-disabled-bg:                     #ccc !default;

// Dropdowns

$dropdown-bg:                       $main-800 !default;
$dropdown-border-color:             rgba($black, .6) !default;
$dropdown-divider-bg:               rgba($black,.15) !default;

$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $body-bg !default;

// Navs

$nav-tabs-border-color:             rgba($black, 0.6) !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color !default;

// Navbar

$navbar-padding-y:                  0 !default;

$navbar-dark-hover-color:           $white !default;

$navbar-light-hover-color:          $main-800 !default;
$navbar-light-active-color:         $main-800 !default;


// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     transparent !default;
$pagination-border-color:           rgba($black, 0.6) !default;

$pagination-hover-color:            $white !default;
$pagination-hover-bg:               transparent !default;
$pagination-hover-border-color:     rgba($black, 0.6) !default;

$pagination-active-bg:              transparent !default;
$pagination-active-border-color:    rgba($black, 0.6) !default;

$pagination-disabled-bg:            transparent !default;
$pagination-disabled-border-color:  rgba($black, 0.6) !default;


// Jumbotron

$jumbotron-bg:                      darken($main-900, 5%) !default;

// Cards

$card-border-color:                 rgba($black, 0.6) !default;
$card-cap-bg:                       lighten($main-800, 10%) !default;
$card-bg:                           lighten($body-bg, 5%) !default;

// Popovers

$popover-bg:                        lighten($body-bg, 5%) !default;

// Toasts

$toast-background-color:            lighten($body-bg, 5%) !default;
$toast-border-color:                rgba(0,0,0,.2) !default;

$toast-header-color:                $body-color !default;
$toast-header-background-color:     $toast-background-color !default;
$toast-header-border-color:         $toast-border-color !default;

// Modals

$modal-content-bg:                  lighten($body-bg, 5%) !default;

$modal-header-border-color:         rgba(0,0,0,.2) !default;

// Progress bars

$progress-bg:                       darken($main-900, 5%) !default;
$progress-bar-color:                $main-600 !default;

// List group

$list-group-bg:                     lighten($body-bg, 5%) !default;
$list-group-border-color:           rgba($black, 0.6) !default;

$list-group-hover-bg:               lighten($body-bg, 10%) !default;
$list-group-active-color:           $white !default;
$list-group-active-bg:              $list-group-hover-bg !default;
$list-group-active-border-color:    $list-group-border-color !default;

$list-group-disabled-color:         $main-700 !default;

$list-group-action-color:           $white !default;

// Breadcrumbs

$breadcrumb-active-color:           $main-500 !default;

// Code

$pre-color:                         inherit !default;


// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";

